<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="col-md-12 mb-12">
    <!-- Nav tabs -->
    <tabset>
        <tab>
            <ng-template tabHeading>
                <i class="icon-calculator"></i>
                <span>Change Password</span>
            </ng-template>
            <div class="col-md-4">
                <div class="card-group mb-0">
                    <div class="card p-2 ipro-login-box">
                        <div class="card-block">
                            <div class="ipro-login-logo">
                                <img src="/assets/ipro-images/logo.png" alt="iSuitePro">
                            </div>
                            <p class="text-muted">Change PasssWord</p>

                            <form [formGroup]="changePasswordFormGroup">
                                <div class="form-group ipro-form-grop-validation" [ngClass]="{'has-error has-danger':changePasswordFormGroup.controls['CurrentPassword'].hasError('required') && changePasswordFormGroup.controls['CurrentPassword'].touched}">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" id="password" tabindex="2" class="form-control" placeholder="Current Password" formControlName="CurrentPassword" [(ngModel)]="selectedChangePassword.CurrentPassword">
                                    </div>
                                    <div class="help-block ipro-valid-block with-errors" *ngIf="changePasswordFormGroup.controls['CurrentPassword'].hasError('required') && changePasswordFormGroup.controls['CurrentPassword'].touched">
                                        CurrentPassword is required.
                                    </div>
                                </div>
                                <div class="form-group ipro-form-grop-validation" [ngClass]="{'has-error has-danger':changePasswordFormGroup.controls['NewPassword'].hasError('required') && changePasswordFormGroup.controls['NewPassword'].touched}">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" id="password" tabindex="2" class="form-control" placeholder="New Password" formControlName="NewPassword" [(ngModel)]="selectedChangePassword.NewPassword">
                                    </div>
                                    <div class="help-block ipro-valid-block with-errors" *ngIf="changePasswordFormGroup.controls['NewPassword'].hasError('required') && changePasswordFormGroup.controls['NewPassword'].touched">
                                        NewPassword is required.
                                    </div>
                                </div>
                                <div class="form-group ipro-form-grop-validation" [ngClass]="{'has-error has-danger':changePasswordFormGroup.controls['ConfirmNewPassword'].hasError('required') && changePasswordFormGroup.controls['ConfirmNewPassword'].touched}">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" id="password" tabindex="2" class="form-control" placeholder="Confirm New Password" formControlName="ConfirmNewPassword" [(ngModel)]="selectedChangePassword.ConfirmNewPassword">
                                    </div>
                                    <div class="help-block ipro-valid-block with-errors" *ngIf="changePasswordFormGroup.controls['ConfirmNewPassword'].hasError('required') && changePasswordFormGroup.controls['ConfirmNewPassword'].touched">
                                        ConfirmNewPassword is required.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 Button-right">
                                        <button type="submit" class="btn btn-primary" (click)="onSavePassword()"><i class="k-icon k-i-save"></i> Save</button>
                                        <button type="submit" class="btn btn-primary" (click)="onCancel()"><i class="k-icon k-i-close"></i>Cancel</button>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="icon-calculator"></i>
                <span>Settings</span>
            </ng-template>

            <div class="col-sm-4 col-md-3 col-lg-3">
                <form [formGroup]="payCycleFormGroup">
                    <div class="ipro-panel">
                        <div class="form-group">
                            <label class="control-label">Year:<span class="startMark">*</span></label>
                            <kendo-dropdownlist [data]="ApprisalYearList"
                                                [textField]="'Title'"
                                                [valueField]="'ApprisalYearId'"
                                                [valuePrimitive]="true"
                                                [value]="payCycle.ApprisalYearId"
                                                
                                                style="width:100%;">
                            </kendo-dropdownlist>
                            <!--(valueChange)="onApprisalYearId($event)"-->
                        </div>
                        <div class="form-group">
                            <label>Title<span class="startMark">*</span></label>
                            <input type="text" formControlName="Title"
                                   [(ngModel)]="payCycle.Title" class="form-control" autofocus />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Pay Cycle:<span class="startMark">*</span></label>
                            <kendo-dropdownlist [data]="payCycleList"
                                                [textField]="'Value'"
                                                [valueField]="'LookupDetailId'"
                                                [valuePrimitive]="true"
                                                formControlName="PayCycleLookupId"
                                                [(ngModel)]="payCycle.PayCycleLookupId"
                                                (valueChange)="onChangePayCycle($event)"
                                                style="width:100%;">

                            </kendo-dropdownlist>
                        </div>
                        <div class="form-group" *ngIf="!IsStartDate">
                            <label>Calculation Mode<span class="startMark">*</span></label>
                            <kendo-dropdownlist [data]="payCalculationModeList"
                                                [textField]="'Value'"
                                                [valueField]="'LookupDetailId'"
                                                [valuePrimitive]="true"
                                                formControlName="CalculateModeLookupId"
                                                [(ngModel)]="payCycle.CalculateModeLookupId"
                                                style="width:100%;">
                            </kendo-dropdownlist>
                        </div>
                        <div class="form-group" *ngIf="IsStartDate">
                            <label>Start Date<span class="startMark">*</span></label>

                            <kendo-datepicker formControlName="StartDate" [format]="InputdDateFormat"
                                              [(ngModel)]="payCycle.StartDate" class="form-control" (valueChange)="onChangegetEndDate($event)"></kendo-datepicker>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-12 Button-right">
                                <button type="submit" class="btn btn-primary" (click)="onSavePayCycle()"><i class="k-icon k-i-save"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
    </tabset>
</div>

