<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <div class="app flex-row align-items-center login-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card text-white bg-goidentity-green py-5 d-md-down-none">
                            <div class="card-body text-center">
                                <img src="./assets/img/logo_white.png" class="login-image" alt="goidentity">
                            </div>
                        </div>
                        <div class="card p-4 no-pad-b">
                            <div class="">
                                <h3>Forgot Password</h3>
                            </div>
                            <div class="card-body pad-l-10 pad-r-5 no-pad-b">
                                <form [formGroup]="forgetform" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-4" style="margin-bottom:60px !important">
                                        <div>
                                            <input type="text" id="username" tabindex="1" class="form-control big-text" placeholder="Email / Phone number" [formControl]="forgetform.controls['uname']" autofocus />
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary bg-goidentity-green text-white btn-pill btn-block px-4" primary="true"> Submit</button>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-primary btn-pill btn-block px-4" [routerLink]="['/settings/login']">Back to login</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng4-loading-spinner class="loader" [loadingText]="'Please wait...'" [zIndex]="99999"></ng4-loading-spinner>
     