<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="app flex-row align-items-center login-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card text-white bg-goidentity-green py-5 d-md-down-none">
                        <div class="card-body text-center">
                            <img src="./assets/img/goidentity-logo.png" class="login-image d-none d-sm-block" alt="goidentity">
                            <div class="d-block d-sm-none col-offset-3 col-offset-6">
                                <img src="./assets/img/mobile-logo.png" width="75" height="75" class="login-image  fc-center" alt="goidentity">
                            </div>
                        </div>
                    </div>
                    <div class="card p-4 no-pad-b">
                        <div class="form-group">
                            <label class="form-control-label">Forgot Password</label>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="forgetform" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-4" style="margin-bottom:60px !important">
                                    <div>
                                        <input type="text" id="username" tabindex="1" class="form-control big-text" placeholder="Email / Phone number" [formControl]="forgetform.controls['uname']" autofocus />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <button type="submit" class="btn btn-sm btn-primary loginbutton customGreen ng-star-inserted" primary="true"> Submit</button>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-6 col-xs-12 d-block d-sm-none">
                                        <button type="submit" class="btn btn-sm  signinbutton customGreen ng-star-inserted" primary="true" width="100%">Back To Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ng4-loading-spinner class="loader" [loadingText]="'Please wait...'" [zIndex]="99999"></ng4-loading-spinner>
