<toaster-container></toaster-container>
<div class="app flex-row align-items-center login-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card text-white bg-goidentity-green py-5 d-md-down-none">
                        <div class="card-body text-center">
                            <img src="./assets/img/logo_white.png" class="login-image" alt="goidentity">
                        </div>
                    </div>
                    <div class="card p-4">
                        <div class="">
                            <a href="#" class="active pad-10">Login</a> |<a class="pad-10 active" href="#">Signup</a>
                        </div>

                        <div class="card-body pad-l-10 pad-r-5 no-pad-b">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group row mb-4">
                                    <div class="col-6">
                                        <input type="text" id="firstname" tabindex="1" class="form-control md-text" placeholder="First name" [formControl]="form.controls['firstname']" autofocus />
                                    </div>
                                    <div class="col-6">
                                        <input type="text" id="lastname" tabindex="2" class="form-control md-text" placeholder="Last name" [formControl]="form.controls['lastname']" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <div>
                                        <input type="text" id="email" tabindex="3" class="form-control md-text" placeholder="Email" [formControl]="form.controls['email']" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <div>
                                        <input type="text" id="mobile" tabindex="4" class="form-control md-text" placeholder="Mobile number" [formControl]="form.controls['mobile']" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <input type="password" id="password" tabindex="5" class="form-control md-text" placeholder="Password" [formControl]="form.controls['password']" />
                                    </div>
                                    <div class="col-6">
                                        <input type="password" id="confirmPassword" tabindex="6" class="form-control md-text" placeholder="Confirm password" [formControl]="form.controls['confirmPassword']" />
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:60px !important">

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary bg-goidentity-green text-white btn-pill btn-block px-4" primary="true"> Rigister</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn-icon btn-i-default btn-pill" title="facebook">
                                            <i class="fa fa-facebook-f"></i>
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn-icon btn-i-default btn-pill" title="linkedIn">
                                            <i class="fa fa-linkedin"></i>
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn-icon btn-i-default btn-pill" title="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng4-loading-spinner class="loader" [loadingText]="'Please wait...'" [zIndex]="99999"></ng4-loading-spinner>
