<div class="ipro-side-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-goidentity-green text-center">
                <div class="card-header text-gray-dark">
                    <h2 class="no-pad-b no-m-b">WHO WE ARE</h2>
                </div>
                <div class="card-body text-white" style="background-color:green">
                    <blockquote class="card-bodyquote">
                        <p>GoIdentity is an online platform Where you can find your Social reputation scores for FREE.</p>
                        <br />
                        <p>In today's world, Having a good online social reputation defines a real you and as per Mr.Peter Druckers saying, "What gets measured - gets improved". We take the major portion of measuring your social reputation score which makes a way for you to better the score for yourself. We Serve individuals as well as corporates with a complete range of online social reputation.</p>
                        <footer>
                            The better your goidentity score, the better you attract individuals and other businesses, enterprises and many more. In a nutshell, our goidentity score challenges you to be more attractive online and also helps you to better judge the business relations / collaborations in the online world that you want to make.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .ipro-side-container {
        width: 97.5% !important;
    }
</style>