<div class="ipro-side-container">
    <div class="row">
        <div class="col-sm-12 padding-10 btn-list">
            <button class="btn btn-primary" (click)="onClick('linkedin')">Authorize LinkedIn</button>
            <button class="btn btn-primary" (click)="onClick('facebook')">Authorize Facebook</button>
            <button class="btn btn-primary" (click)="onClick('twitter')">Authorize Twitter</button>
            <button class="btn btn-primary" (click)="onClick('googleplus')">Authorize G+</button>
            <button class="btn btn-primary" (click)="onClick('instagram')">Authorize Instagram</button>
            <button class="btn btn-primary" (click)="onClick('pinterest')">Authorize Pinterest</button>
        </div>
    </div>
</div>
