
<div class="ipro-side-container">
    <div class="row bgcolor">
        <div class="col-sm-12">
            <table style="padding-top:25px;background:white;" class="table table-sm table-striped">
                <tr>
                    <th>
                        Score | Last Score
                    </th>
                    <td>
                        {{finalScore}} | {{finalLastScore}}
                    </td>
                </tr>
            </table>
            <table class="table table-sm table-striped" style="background:white;">
                <tr>
                    <th>Positive Score | Last Score</th>
                    <th>Neutral Score | Last Score</th>
                    <th>Negative Score | Last Score</th>
                </tr>
                <tr>
                    <td>{{positiveScore}} | {{positiveLastScore}}</td>
                    <td>{{neutralScore}} | {{neutralLastScore}}</td>
                    <td>{{negativeScore}} | {{negativeLastScore}}</td>
                </tr>
            </table>
            <table class="table table-sm table-striped">
                <tr>
                    <th *ngFor="let category of scoreData">
                        {{category.key}}
                    </th>
                </tr>
                <tr>
                    <td *ngFor="let category of scoreData">
                        {{category.score}}
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let category of scoreData">
                        {{category.lastScore}}
                    </td>
                </tr>
            </table>

            <div class="">

                <div class="row mb-3" style="margin-top:60px">

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div style="padding-bottom: 15px;color: green;"><h3>Your Score</h3></div><h1 class="" style="color: gray;padding-bottom: 30px;font-size: 55px;padding-left: 25%;padding-right: 15%;padding-top: 8px;"> 89 % </h1>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span class="badge badge-warning"><i class="fa fa-arrow-down"></i>  25 </span>
                                    </div><div class="col-lg-9"><span class="font-sm">Compare to last week</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: green;"><h5>Positive</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">
                                        89<span class="font-sm" style="padding-left: 20px;">This week</span>
                                    </h1>
                                    <div class="progress progress-xs my-2">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-sm">Last week 25</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: blue;"><h5>Neutral</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">
                                        89<span class="font-sm" style="padding-left: 20px;">This week</span>
                                    </h1>
                                    <div class="progress progress-xs my-2">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-sm">Last week 25</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: orangered;"><h5>Negative</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">
                                        89<span class="font-sm" style="padding-left: 20px;">This week</span>
                                    </h1>
                                    <div class="progress progress-xs my-2">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-sm">Last week 25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-12">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: dimgray;"><h5>Profile</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                    <div class="row">
                                        <div class="col-lg-9 no-pad"><div class="progress progress-xs my-2"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div></div></div><div class="col-lg-3 no-pad" style="padding-top: 15px !important;padding-left: 5px !important;"><span class="font-sm"> + 25</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: dimgray;"><h5>Profile</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                    <div class="row">
                                        <div class="col-lg-9 no-pad"><div class="progress progress-xs my-2"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div></div></div><div class="col-lg-3 no-pad" style="padding-top: 15px !important;padding-left: 5px !important;"><span class="font-sm"> + 25</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: dimgray;"><h5>Profile</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                    <div class="row">
                                        <div class="col-lg-9 no-pad"><div class="progress progress-xs my-2"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div></div></div><div class="col-lg-3 no-pad" style="padding-top: 15px !important;padding-left: 5px !important;"><span class="font-sm"> + 25</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: dimgray;"><h5>Profile</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                    <div class="row">
                                        <div class="col-lg-9 no-pad"><div class="progress progress-xs my-2"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div></div></div><div class="col-lg-3 no-pad" style="padding-top: 15px !important;padding-left: 5px !important;"><span class="font-sm"> + 25</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: dimgray;"><h5>Profile</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                    <div class="row">
                                        <div class="col-lg-9 no-pad"><div class="progress progress-xs my-2"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div></div></div><div class="col-lg-3 no-pad" style="padding-top: 15px !important;padding-left: 5px !important;"><span class="font-sm"> + 25</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="padding-bottom: 15px;color: dimgray;"><h5>Profile</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                    <div class="row">
                                        <div class="col-lg-9 no-pad"><div class="progress progress-xs my-2"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div></div></div><div class="col-lg-3 no-pad" style="padding-top: 15px !important;padding-left: 5px !important;"><span class="font-sm"> + 25</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    
                        <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div style="padding-bottom: 15px;color: green;"><h5>Identity spread</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                        <div class="row">

                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="col-lg-6">
                            
                                <div class="card">
                                    <div class="card-body">
                                        <div style="padding-bottom: 15px;color: green;"><h5>Recommandations</h5></div><h1 class="" style="color: gray;padding-left: 20px;font-size: 55px;">89</h1>
                                        <div class="row">

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                       
                </div>

            </div>
        </div>
    </div>
    
</div>
<style>
    .bgcolor {
        background-color: #f5f5f5 !important;
    }
    .card {
        border-radius: 25px;
    }
    .ipro-side-container {
        width: 97.5% !important;
        background: #f5f5f5 !important;
    }
</style>