<div class="ipro-side-container">
    <div class="row lookup-table" id="{{themepanel}}">
        <div class="col-sm-6 col-md-6 col-12">

            <table class="table table-bordered ipro-table">
                <thead>
                    <tr>
                        <th>Connectors</th>
                        <th>Is Connected ?</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody class="table-buttons">
                    <tr>
                        <td class="left">LinkedIn</td>
                        <td class="left">Not Connected</td>
                        <td class="left btn-list">
                            <button class="btn btn-primary" (click)="onClick('linkedin')">Connect</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Google</td>
                        <td class="left">Not Connected</td>
                        <td class="left btn-list">
                            <button class="btn btn-primary" (click)="onClick('googleplus')">Connect</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Twitter</td>
                        <td class="left">Not Connected</td>
                        <td class="left btn-list">
                            <button class="btn btn-primary" (click)="onClick('twitter')">Connect</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Facebook</td>
                        <td class="left">Not Connected</td>
                        <td class="left btn-list">
                            <button class="btn btn-primary" (click)="onClick('facebook')">Connect</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">instagram</td>
                        <td class="left">Not Connected</td>
                        <td class="left btn-list">
                            <button class="btn btn-primary" (click)="onClick('instagram')">Connect</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">pinterest</td>
                        <td class="left">Not Connected</td>
                        <td class="left btn-list">
                            <button class="btn btn-primary" (click)="onClick('pinterest')">Connect</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<style>
    .ipro-side-container {
        width: 97%;
    }
</style>