<form #userProfile="ngForm" (ngSubmit)="onUpdateClick(userProfile.form)">
    <div class="form-group">
        <label for="firstName">First Name : </label>
        <input type="text" class="form-control" name="firstName" placeholder="FirstName" #firstName="ngModel"
               [(ngModel)]="user1.firstName"
               required>
        <div *ngIf="firstName.touched && firstName.errors">
            <div class="alert alert-danger"
                 *ngIf="firstName.errors.required">
                The first name is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="middleName">Middle Name : </label>
        <input type="text" class="form-control" name="middleName" placeholder="MiddleName" #middleName="ngModel"
               [(ngModel)]="user1.middleName">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name : </label>
        <input type="text" class="form-control" name="lastName" placeholder="LastName" #lastName="ngModel"
               [(ngModel)]="user1.lastName"
               required>
        <div *ngIf="lastName.touched && lastName.errors">
            <div class="alert alert-danger"
                 *ngIf="lastName.errors.required">
                The last name is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="gender">Gender : </label>
        <select class="form-control"
                name="gender"
                #gender="ngModel"
                required
                [(ngModel)]="user1.gender">
            >
            <option *ngFor="let gender of genders"
                    [value]="gender.name">
                {{ gender.name }}
            </option>
        </select>
        <div class="alert alert-danger"
             *ngIf="gender.touched && !gender.valid">
            Gender is required
        </div>
    </div>

    <button class="btn" [disabled]="!userProfile.valid">Submit</button>
</form>
<div>
    {{user1 | json}}
</div>