<form #userProfile="ngForm" (ngSubmit)="onSubmitClick(userProfile.form)">
    <div class="form-group">
        <label for="firstName">First Name : </label>
        <input [readonly]="!editMode" type="text" class="form-control" name="firstName" placeholder="FirstName" #firstName="ngModel"
               [(ngModel)]="currentUser.FirstName"
               required>
        <div *ngIf="firstName.dirty && firstName.errors">
            <div class="alert alert-danger"
                 *ngIf="firstName.errors.required">
                The first name is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="middleName">Middle Name : </label>
        <input [readonly]="!editMode" type="text" class="form-control" name="middleName" placeholder="MiddleName" #middleName="ngModel"
               [(ngModel)]="currentUser.MiddleName">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name : </label>
        <input [readonly]="!editMode" type="text" class="form-control" name="lastName" placeholder="LastName" #lastName="ngModel"
               [(ngModel)]="currentUser.LastName"
               required>
        <div *ngIf="lastName.dirty && lastName.errors">
            <div class="alert alert-danger"
                 *ngIf="lastName.errors.required">
                The last name is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="gender">Gender : </label>
        <select [disabled]="!editMode" class="form-control"
                name="gender"
                #gender="ngModel"
                required
                [(ngModel)]="currentUser.Gender">
            >
            <option *ngFor="let gender of genders"
                    [value]="gender.name">
                {{ gender.name }}
            </option>
        </select>
        <div class="alert alert-danger"
             *ngIf="gender.dirty && !gender.valid">
            Gender is required
        </div>
    </div>
    <div class="form-group">
        <label for="emailId">Email Id : </label>
        <input [readonly]="!editMode" type="text" class="form-control" name="emailId" placeholder="enter email id" #emailId="ngModel"
               [(ngModel)]="currentUser.EmailId"
               required>
        <div *ngIf="emailId.dirty && emailId.errors">
            <div class="alert alert-danger"
                 *ngIf="emailId.errors.required">
                Email Id is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number : </label>
        <input [readonly]="!editMode" type="text" class="form-control" name="phoneNumber" placeholder="enter your phone number" #phoneNumber="ngModel"
               [(ngModel)]="currentUser.PhoneNumber"
               required>
        <div *ngIf="phoneNumber.dirty && phoneNumber.errors">
            <div class="alert alert-danger"
                 *ngIf="emphoneNumberailId.errors.required">
                Mobile number is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="dob">DOB : </label>
        <input [readonly]="!editMode" type="date" class="form-control" name="dob"
               [ngModel]="currentUser.DOB | date:'yyyy-MM-dd'" (ngModelChange)="currentUser.DOB = $event"
               #dob="ngModel" />
    </div>
    <div class="form-group">
        <label for="placeOfBirth">Place Of Birth : </label>
        <input [readonly]="!editMode" google-addressbox type="text" name="placeOfBirth"
               (onSelect)="setAddress($event)"
               [(ngModel)]="currentUser.PlaceOfBirth"
               placeholder="Type to enter..">
    </div>
    <div class="form-group">
        <label for="currentCity">Current City : </label>
        <input [readonly]="!editMode" google-addressbox type="text" name="currentCity"
               (onSelect)="setAddress($event)"
               [(ngModel)]="currentUser.CurrentCity"
               placeholder="Type to enter..">
    </div>
    <div class="form-group">
        <label for="homeTown">Home Town : </label>
        <input [readonly]="!editMode" google-addressbox type="text" name="homeTown"
               (onSelect)="setAddress($event)"
               [(ngModel)]="currentUser.HomeTown"
               placeholder="Type to enter..">
    </div>
    <div class="form-group">
        <label for="maritialStatus">Maritial Status : </label>
        <select [disabled]="!editMode" class="form-control"
                name="maritialStatus"
                #maritialStatus="ngModel"
                [(ngModel)]="currentUser.MartialStatus">
            >
            <option *ngFor="let maritialStatus of maritialStatuses"
                    [value]="maritialStatus.name">
                {{ maritialStatus.name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="aadharCard">Aadhar Card Number : </label>
        <input [readonly]="!editMode" type="text" class="form-control" name="aadharCard" placeholder="Enter your 12 digit aadhar number" #aadharCard="ngModel"
               [(ngModel)]="currentUser.AadharCard">
    </div>
    <!--<div>
        {{currentUser | json}}
    </div>-->
    <button *ngIf="editMode" class="btn" [disabled]="!userProfile.valid" type="submit">Submit</button>
    <button *ngIf="!editMode" class="btn" (click)="toggleEdit()" type="button">Edit</button>
    <button class="btn" type="button" (click)="onCancel($event)">Cancel</button>

</form>
