<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="ipro-side-container" *ngIf="user">
    <tabset>
        <tab>
            <ng-template tabHeading>
                <i class="fa fa-exchange"></i> Basic Info
            </ng-template>
            <div class="row justify-content-left">

                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label>First Name <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.FirstName" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label>Middle Name </label>
                        <input type="text" [(ngModel)]="user.MiddleName" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label>Last Name <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.LastName" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label>DOB <span class="startMark">*</span></label>
                        <kendo-datepicker [(ngModel)]="user.PersonnelInfo.DoB" [(value)]="value"></kendo-datepicker>
                    </div>

                    <div class="form-group">
                        <label>Gender <span class="startMark">*</span></label>
                        <kendo-dropdownlist [data]="gendersList"
                                            [(ngModel)]="user.PersonnelInfo.Gender"
                                            style="width:100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="form-group">
                        <label>Place of Birth <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.PersonnelInfo.PlaceOfBirth" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label>City of Living <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.PersonnelInfo.CityOfLiving" class="form-control" autofocus />
                    </div>

                </div>

                <div class="col-md-4 col-12">

                    <div class="form-group">
                        <label>City of work <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.PersonnelInfo.CityOfWork" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label> Maritial Status <span class="startMark">*</span></label>
                        <kendo-dropdownlist [data]="maritalStatusesList"
                                            [(ngModel)]="user.PersonnelInfo.MaritalStatus"
                                            style="width:100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="form-group">
                        <label>Birth of Origen <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.PersonnelInfo.BirthOfOrigin" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label> Nationality <span class="startMark">*</span></label>
                        <kendo-dropdownlist [data]="nationalitiesList"
                                            [(ngModel)]="user.PersonnelInfo.Nationality"
                                            style="width:100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="form-group">
                        <label> CitizanShip <span class="startMark">*</span></label>
                        <kendo-dropdownlist [data]="nationalitiesList"
                                            [(ngModel)]="user.PersonnelInfo.Citizenship"
                                            style="width:100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="form-group">
                        <label> PR Status <span class="startMark">*</span></label>
                        <kendo-dropdownlist [data]="nationalitiesList"
                                            [(ngModel)]="user.PersonnelInfo.PRStatus"
                                            style="width:100%;">
                        </kendo-dropdownlist>
                    </div>

                </div>

            </div>
        </tab>

        <tab>
            <ng-template tabHeading>
                <i class="fa fa-info"></i>Industry
            </ng-template>
            <div class="col-md-4 col-12">

                <div class="form-group">
                    <label> Primary Industry of Work <span class="startMark">*</span></label>
                    <kendo-multiselect [data]="industriesList"
                                       [(ngModel)]="user.PersonnelInfo.PrimaryIndustryOfWorkArray"
                                       style="width:100%;">
                    </kendo-multiselect>
                </div>
                <div class="form-group">
                    <label> Secondary Industry of work<span class="startMark">*</span></label>
                    <kendo-multiselect [data]="industriesList"
                                       [(ngModel)]="user.PersonnelInfo.SecondaryIndustryOfWorkArray"
                                       style="width:100%;">
                    </kendo-multiselect>
                </div>
                <div class="form-group">
                    <label> Primary Industry of Business <span class="startMark">*</span></label>
                    <kendo-multiselect [data]="industriesList"
                                       [(ngModel)]="user.PersonnelInfo.PrimaryIndustryOfBusinessArray"
                                       style="width:100%;">
                    </kendo-multiselect>
                </div>
                <div class="form-group">
                    <label> Secondary Industry of Business<span class="startMark">*</span></label>
                    <kendo-multiselect [data]="industriesList"
                                       [(ngModel)]="user.PersonnelInfo.SecondaryIndustryOfBusinessArray"
                                       style="width:100%;">
                    </kendo-multiselect>
                </div>
            </div>

        </tab>

        <tab>
            <ng-template tabHeading>
                <i class="fa fa-info"></i> Education
            </ng-template>
            <div class=" ipro-side-table">
                <div class="form-group">
                    <button kendoButton (click)="onAddEducation()" [primary]="true"><i class="k-icon k-i-plus"></i>Education</button>
                </div>

                <kendo-grid [data]="user.Education">
                    <kendo-grid-column field="DegreeType" title="Type" width="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="Title" title="Title" width="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="UniversityOrBoard" title="University / Board" width="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="InstitutionOrBoard" title="Institution">
                    </kendo-grid-column>
                    <kendo-grid-column field="YearOfPass" title="Year of Pass">
                    </kendo-grid-column>
                    <kendo-grid-column field="Specialization" title="Specialization">
                    </kendo-grid-column>

                </kendo-grid>
            </div>
            <div class="example-wrapper" *ngIf="OpenDialogStatus">
                <div id="{{themepanel}}">
                    <kendo-dialog [minWidth]="250" [width]="450" title="{{ DialogTitle }}" (close)="closeDialog()">


                        <div class="form-group">
                            <label> Type <span class="startMark">*</span></label>
                            <kendo-dropdownlist [data]="edcuationTypeList"
                                                [(ngModel)]="selectedUserEducation.DegreeType"
                                                style="width:100%;">
                            </kendo-dropdownlist>
                        </div>
                        <div class="form-group">
                            <label>Title <span class="startMark">*</span></label>
                            <input type="text" [(ngModel)]="selectedUserEducation.Title" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label>University of Board <span class="startMark">*</span></label>
                            <input type="text" [(ngModel)]="selectedUserEducation.UniversityOrBoard" class="form-control" autofocus />
                        </div>
                        <div class="form-group">
                            <label>Institution <span class="startMark">*</span></label>
                            <input type="text" [(ngModel)]="selectedUserEducation.InstitutionOrBoard" class="form-control" autofocus />
                        </div>
                        <div class="form-group">
                            <label>Year Of Pass <span class="startMark">*</span></label>
                            <input type="text" [(ngModel)]="selectedUserEducation.YearOfPass" class="form-control" autofocus />
                        </div>

                        <div class="form-group">
                            <label>Specilization <span class="startMark">*</span></label>
                            <input type="text" [(ngModel)]="selectedUserEducation.Specialization" class="form-control" autofocus />
                        </div>


                        <kendo-dialog-actions>
                            <button kendoButton (click)="onSaveEducation()" primary="true"><i class="fa fa-floppy-o"></i> &nbsp; Save</button>
                            <button kendoButton (click)="onCloseEducation()" class="buttonred"><i class="fa fa-ban"></i> &nbsp; Cancel</button>

                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
            </div>
            <div *ngIf="OpenConfirmationStatus" id="{{themepanel}}">
                <kendo-dialog [minWidth]="250" [width]="450" title="Please confirm" (close)="closeConfirmation('cancel')">
                    <p style="margin: 30px; text-align: center;">Are you sure you want to Delete?</p>
                    <kendo-dialog-actions>
                        <button kendoButton (click)="onDeleteRole()" primary="true">Yes</button>
                        <button kendoButton (click)="closeConfirmation('no')">No</button>
                    </kendo-dialog-actions>
                </kendo-dialog>
            </div>
        </tab>

        <tab>
            <ng-template tabHeading>
                <i class="fa fa-copyright"></i> Employement
            </ng-template>
            <div>
                <div class=" ipro-side-table">
                    <div class="form-group">
                        <button kendoButton (click)="onAddEmployment()" [primary]="true"><i class="k-icon k-i-plus"></i>Employment</button>
                    </div>

                    <kendo-grid [data]="user.Experience">
                        <kendo-grid-column field="OrganizationName" title="Organization" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column field="Designation" title="Designation" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column field="Roles" title="Roles & Responsibilities" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column field="StartDate" title="From" format='{0:dd-MMM-yyyy}'>
                        </kendo-grid-column>
                        <kendo-grid-column field="EndDate" title="To" format='{0:dd-MMM-yyyy}'>
                        </kendo-grid-column>
                        <kendo-grid-column field="IsCurrent" title="Is Current">
                        </kendo-grid-column>

                    </kendo-grid>
                </div>
                <div class="example-wrapper" *ngIf="OpenDialogStatus1">
                    <div id="{{themepanel}}">
                        <kendo-dialog [minWidth]="250" [width]="450" title="{{ DialogTitle }}" (close)="closeDialog1()">


                            <div class="form-group">
                                <label> Company Name <span class="startMark">*</span></label>
                                <input type="text" [(ngModel)]="selectedUserExperience.OrganizationName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Designation <span class="startMark">*</span></label>
                                <input type="text" [(ngModel)]="selectedUserExperience.Designation" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Roles and Responsiblities <span class="startMark">*</span></label>
                                <input type="text" [(ngModel)]="selectedUserExperience.Roles" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Start Date <span class="startMark">*</span></label>
                                <kendo-datepicker [(ngModel)]="selectedUserExperience.StartDate" [format]="'dd-MMM-yyyy'"></kendo-datepicker>

                            </div>
                            <div class="form-group">
                                <label>End Date <span class="startMark">*</span></label>
                                <kendo-datepicker [(ngModel)]="selectedUserExperience.EndDate" [format]="'dd-MMM-yyyy'"></kendo-datepicker>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="Current" class="k-checkbox"
                                       [(ngModel)]="selectedUserExperience.IsCurrent"> <label class="k-checkbox-label checkbox-left-padding" for="Current">Is Current</label>
                            </div>
                            <div class="form-group">
                                <label>Reson for a Change <span class="startMark">*</span></label>
                                <textarea rows="3" cols="4" class="form-control"
                                          [(ngModel)]="selectedUserExperience.ReasonForChange"></textarea>
                            </div>


                            <kendo-dialog-actions>
                                <button kendoButton (click)="onSaveEmployment()" primary="true"><i class="fa fa-floppy-o"></i> &nbsp; Save</button>
                                <button kendoButton (click)="onCloseEmployment()" class="buttonred"><i class="fa fa-ban"></i> &nbsp; Cancel</button>

                            </kendo-dialog-actions>
                        </kendo-dialog>
                    </div>
                </div>
                <div *ngIf="OpenConfirmationStatus1" id="{{themepanel}}">
                    <kendo-dialog [minWidth]="250" [width]="450" title="Please confirm" (close)="closeConfirmation('cancel')">
                        <p style="margin: 30px; text-align: center;">Are you sure you want to Delete?</p>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="onDeleteRole()" primary="true">Yes</button>
                            <button kendoButton (click)="closeConfirmation('no')">No</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
            </div>
        </tab>

        <tab>
            <ng-template tabHeading>
                <i class="fa fa-copyright"></i> Future Aspirations
            </ng-template>
            <div class="row justify-content-left">

                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label>Future Role <span class="startMark">*</span></label>
                        <input type="text" [(ngModel)]="user.PersonnelInfo.FutureRole" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Future Industry of Work <span class="startMark">*</span></label>
                        <kendo-multiselect [data]="industriesList"
                                           [(ngModel)]="user.PersonnelInfo.FutureIndustryOfWorkArray"
                                           style="width:100%;">
                        </kendo-multiselect>
                    </div>
                    <div class="form-group">
                        <label> Future Industry of Business<span class="startMark">*</span></label>
                        <kendo-multiselect [data]="industriesList"
                                           [(ngModel)]="user.PersonnelInfo.FutureIndustryOfBusinessArray"
                                           style="width:100%;">
                        </kendo-multiselect>
                    </div>

                </div>


            </div>
        </tab>

    </tabset>
    <div class="row">
        <div class="col-sm-12">
            <div class="lignright">
                <button kendoButton class="customGreen" (click)="onSave()" [icon]="'save'" [primary]="true">Save</button>
                <button kendoButton (click)="onCancel()" class="customMeroon" [primary]="true" title="cancel"><i class="fa fa-ban"></i>&nbsp; Cancel</button>
            </div>

        </div>
    </div>
</div>
<style>
    .ipro-side-container {
        width: 95% !important;
    }
</style>